<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.628808645845-etj5cdmni8703nd5jie361luir9mmmme</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Sora-Bold.ttf</string>
		<string>Sora-ExtraBold.ttf</string>
		<string>Sora-ExtraLight.ttf</string>
		<string>Sora-Light.ttf</string>
		<string>Sora-Medium.ttf</string>
		<string>Sora-Regular.ttf</string>
		<string>Sora-SemiBold.ttf</string>
		<string>Sora-Thin.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>TyreVibes needs access to your location to provide nearby tire service centers and personalized recommendations based on your location.</string>
	<key>NSCameraUsageDescription</key>
	<string>TyreVibes needs access to your camera to scan license plates and tire sidewalls for automatic data extraction.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TyreVibes needs access to your photo library to let you select vehicle and tire photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TyreVibes needs access to save photos to your library for your records.</string>
</dict>
</plist>
